html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #576f6f;
  --margin-content: 5vh;
  --karta-kolor: #dcdcdd;
  --cien: 2px 2px 5px rgb(88, 88, 88);
}
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
img {
  max-width: 100%;
  display: block;
}
@import url(//db.onlinewebfonts.com/c/aa2978d6298cf73270ecf91888c157b9?family=Adelle+Condensed);

.hero {
  color: white;
  background-image: url("img/main.jpg");

  width: 100%;
  height: 35rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: left;
  order: 1;
  gap: 3vw;
}

p {
  font-size: 2.5rem;
  text-align: center;
}

.logo {
  width: 20vw;
}

/* .a {
  height: 20000px;
  background-color: var(--main-color);
} */

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  height: 3rem;
  background-color: #365252;
  position: sticky;
  top: 0;
  z-index: 100;
}

.menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.onas {
  width: 80vw;
}
span {
  display: inline-block;
  width: 60vw;
}
#certyfikat {
  max-width: 50vw;
  margin-top: var(--margin-content);
}

.karta-kontener {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2em;
  row-gap: 2em;
  margin-top: var(--margin-content);
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: content;
}
/* responsywnosc zobaczyc */
.karta {
  width: 25%;
  /* width: calc(33% - 100px); */

  height: auto;
  background: var(--karta-kolor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 2.5vw;
  /* transition: all 0.3s ease-in; */
  box-shadow: var(--cien);
  flex-wrap: wrap;
}
.karta-zdjecie {
  display: flex;
  justify-content: center;
}
.karta-zdjecie img {
  border-radius: 50%;
  /* scale: 0.5; */
  width: 50%;
}
.karta .karta-tytul {
  padding: 20px 10px;
  font-size: 1.5rem;
}
.karta-star {
  font-size: 2rem;
  color: #f9bf3b;
}

/* .karta:nth-child(1) .karta-zdjecie {
  background-image: url(img/AMANDA.jpg);
} */

/* .karta:nth-child(2) .karta-zdjecie {
  background-image: url(img/zdjecie3.jpg);
} */

/* .karta:nth-child(3) .karta-zdjecie {
  background-image: url(img/zdjecie1.jpg);
} */

.karta > a {
  text-decoration: none;
  color: black;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(to right, #576f6f, #576f6f, #576f6f);
  background-size: 100% 5px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.karta > a:hover {
  background-size: 0 5px, 100% 3px;
}
.news-kontener {
  background-color: var(--main-color);
  /* background-image: linear-gradient(90deg, red, yellow 10%, red 90%); */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

footer {
  margin-top: var(--margin-content);
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem 5rem;
  flex-wrap: wrap;
  flex-grow: 1;
}
.contact {
  display: flex;
  margin-top: var(--margin-content);
  padding-top: var(--margin-content);
  font-size: 1rem;
  flex-direction: column;
  row-gap: 0.5rem;
}
.contact > :nth-child(-n + 3) {
  padding-left: 2em;
}
.contact a:link,
.contact a:visited {
  text-decoration: none;
  color: black;
}
path {
  color: black;
  background-color: var(--karta-kolor);
}
svg {
  fill: black;
  height: 1.2rem;
  width: 1.2rem;
}
.certy img {
  width: 40rem;
}


/* kotka */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 2rem;
  flex-direction: row;
  flex-basis: content;
}

.card {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 50%;
  height: auto;
  background: var(--karta-kolor);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 2em;
  box-shadow: var(--cien);
  column-gap: 6.5rem;
  /* flex-basis: 50rem; */
  flex-grow: 0.5;
  flex-wrap: wrap;
}
.card-img {
  width: 45%;
  /* height: 1vw; */
}

.card img {
  /* height: 25rem; */
  width: 100%;
  /* min-height: 25rem; */
  object-fit: cover;
  border-radius: 4px;
  /* object-position: center center; */
  aspect-ratio: 1.5/1;
}

.card h2 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.card p {
  margin: 10px 0;
  font-size: 1.1rem;
}
.card-text {
  display: flex;
  text-align: left;
  align-items: start;
  flex-direction: column;
  width: 45%;
}
iframe {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* .hideme {
  opacity: 0;
} */
